.app{
  width: 50%;
  background-color: white;
  margin: 60px auto;
  border-radius: 30px;
}

@media (max-width:1050px) {
    .app{
      width: 80%;
    }
}
@media (max-width:740px) {
  .app{
    width: 100%;
    margin: auto auto;
    border-radius: 0px;
  }
}